<h1>Usuarios</h1>
<hr>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of _userS.tareaList">
      <th scope="row">{{ tarea.idTarea }}</th>
      <td>{{tarea.titulo}}</td>
      <td>{{tarea.descripcion}}</td>
    </tr>
  </tbody>
</table>
