<h1>Usuarios</h1>
<hr>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Contraseña</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of _userS.usuarioList">
      <th scope="row">{{ usuario.idUsuario }}</th>
      <td>{{usuario.nick}}</td>
      <td>{{usuario.contrasena}}</td>
    </tr>
  </tbody>
</table>
